* {
  border-style: solid;
  border-color: #e91e63;
  border-width: 1px;
}



/* HEADER AREA ------------------------------------------------------*/
header {
  background-color: aqua;
}

.page-head {
  display: flex;
  flex-direction: column;
}

.upper-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 25px;
  margin-top: 13px;
}

.lower-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.user-icon {
  width: 20px;
  height: 20px;
  filter: brightness(0);
}

.user-arrow {
  width: 14px;
  height: 15px;
}

.user-name,
.user-arrow,
.user-icon {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 1.1em;
}

.nav-area, 
.nav-element,
.logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-area {
  width: 735px;
  display: flex;
  justify-content: flex-start;
}

.nav-element {
  width: 174px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.vid-link-nav {
  width: 275px;
}

.dragon,
.site-name,
.share-icon,
.list-icon,
.vid-link-icon,
.nav-links {
  margin-top: 39px;
  margin-bottom: 20px;
}


.dragon {
  height: 57px;
  width: 63px;
}

.site-name {
  font-size: 2.5em;

}

.share-icon,
.list-icon,
.vid-link-icon {
  height: 20px;
  width: 20px;
}

.nav-links {
  margin-left: 10px;
  font-size: 1.2em;
}

.logo {
  margin-right: 27px;
}

/* MAIN AREA ------------------------------------------------------*/

.main-area-title {
  font-size: 2.5em;
}

.card-area {
  display: grid;
  gap: 15px;
  grid-auto-flow: column;
  justify-content: center;
}

.card {
  width: 355px;
  height: 530px;
  box-shadow: black;
}
.card-pic-1 {
  width: 355px;
  height: 200px;
  background-image: linear-gradient(0deg, rgba(36, 35, 35, 0.6), rgba(49, 49, 49, 0.36)), url(./assets/card-1.jpg);
  background-size: cover;
}

.card-pic-2{
  width: 355px;
  height: 200px;
  background-image: linear-gradient(0deg, rgba(36, 35, 35, 0.6), rgba(49, 49, 49, 0.36)), url(./assets/card-2.jpg);
  background-size: cover;
}

.card-pic-3 {
  width: 355px;
  height: 200px;
  background-image: linear-gradient(0deg, rgba(36, 35, 35, 0.6), rgba(49, 49, 49, 0.36)), url(./assets/card-3.jpg);
  background-size: cover;
}

.card-pic-4 {
  width: 355px;
  height: 200px;
  background-image: linear-gradient(0deg, rgba(36, 35, 35, 0.6), rgba(49, 49, 49, 0.36)), url(./assets/card-4.jpg);
  background-size: cover;
}

.card-pic-5 {
  width: 355px;
  height: 200px;
  background-image: linear-gradient(0deg, rgba(36, 35, 35, 0.6), rgba(49, 49, 49, 0.36)), url(./assets/card-5.jpg);
  background-size: cover;
}

.card-pic-6 {
  width: 355px;
  height: 200px;
  background-image: linear-gradient(0deg, rgba(36, 35, 35, 0.6), rgba(49, 49, 49, 0.36)), url(./assets/card-6.jpg);
  background-size: cover;
}

.card-pic-7 {
  width: 355px;
  height: 200px;
  background-image: linear-gradient(0deg, rgba(36, 35, 35, 0.6), rgba(49, 49, 49, 0.36)), url(./assets/card-7.jpg);
  background-size: cover;
}

.card-pic-8 {
  width: 355px;
  height: 200px;
  background-image: linear-gradient(0deg, rgba(36, 35, 35, 0.6), rgba(49, 49, 49, 0.36)), url(./assets/card-8.jpg);
  background-size: cover;
}

.item-1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}
.item-2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}
.item-3 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}
.item-4 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
}
.item-5 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}
.item-6 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}
.item-7 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}
.item-8 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
}
