/* * {
  border-style: solid;
  border-color: #e91e63;
  border-width: 1px;
} */

body {
  background: rgb(187,87,138);
  background: linear-gradient(112deg, rgba(187,87,138,1) 0%, rgba(254,95,95,1) 44%, rgba(227,184,125,1) 100%);
  min-width: 1553px;
  background-attachment: fixed;
  border-style: solid;
  border-color: black;
  border-width: 6px;
  margin: 0px;
}


/* HEADER AREA ------------------------------------------------------*/
header {
  background-color: aqua;
}

.page-head {
  display: flex;
  flex-direction: column;
  color: rgb(244, 238, 230);
  background: linear-gradient(0deg, rgba(29,29,29,1) 0%, rgba(27,26,26,1) 39%, rgba(22,22,22,1) 100%);
}

.upper-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 25px;
  margin-top: 13px;
}

.lower-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.user-icon {
  width: 20px;
  height: 20px;
  filter: invert(1);
}

.user-arrow {
  width: 14px;
  height: 15px;
  filter: invert(.8);

}

.user-name,
.user-arrow,
.user-icon {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 1.1em;
}

.nav-area, 
.nav-element,
.logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-area {
  width: 735px;
  display: flex;
  justify-content: flex-start;
}

.nav-element {
  width: 174px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.vid-link-nav {
  width: 275px;
}

.dragon,
.site-name,
.share-icon,
.list-icon,
.vid-link-icon,
.nav-links {
  margin-top: 39px;
  margin-bottom: 20px;
}


.dragon {
  height: 57px;
  width: 63px;
  filter: invert(1);
}

.site-name {
  font-size: 2.5em;

}

.share-icon,
.list-icon,
.vid-link-icon {
  height: 20px;
  width: 20px;
}

.share-icon,
.list-icon {
  filter: invert(.7);
}

.nav-links {
  margin-left: 10px;
  font-size: 1.2em;
}

.logo {
  margin-right: 27px;
}

/* MAIN AREA ------------------------------------------------------*/

.main-area-title {
  font-size: 2.5em;
  margin-left: 182px;
}

.card-area {
  display: grid;
  gap: 25px;
  grid-auto-flow: column;
  justify-content: center;
}

.card-arrow {
  width: 60px;
  height: 60px;
  border-color: #e91e63;
  filter: invert(1);
  margin: 7px;
  margin-left: 11px;
}

.views-text-box {
  margin-right: 11px;
  margin-top: 5px;
}

.views-text {
  margin: 4px;
  font-size: 1em;
  color: antiquewhite;

}

.views-numb {
  margin: 4px;
  margin-top: -5px;
  text-align: right;
  font-size: 2.9em;
  color: antiquewhite;
}

.card {
  width: 355px;
  height: 530px;
  border-style: solid;
  border-color: black;
  border-width: 3px;
  border-radius: 5px;
  background: rgb(29,29,29);
  background: linear-gradient(0deg, rgba(29,29,29,1) 0%, rgba(50,50,50,1) 70%, rgba(70,70,70,1) 100%);
  box-shadow: 5px 4px 6px 0px #07070778;
}

.card-pic-1 {
  width: 355px;
  height: 200px;
  border-radius: 5px;
  background-image: linear-gradient(0deg, rgba(36, 35, 35, 0.6), rgba(49, 49, 49, 0.36)), url(./assets/card-1.jpg);
  background-size: cover;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.card-pic-2{
  width: 355px;
  height: 200px;
  border-radius: 5px;
  background-image: linear-gradient(0deg, rgba(36, 35, 35, 0.6), rgba(49, 49, 49, 0.36)), url(./assets/card-2.jpg);
  background-size: cover;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.card-pic-3 {
  width: 355px;
  height: 200px;
  border-radius: 5px;
  background-image: linear-gradient(0deg, rgba(36, 35, 35, 0.6), rgba(49, 49, 49, 0.36)), url(./assets/card-3.jpg);
  background-size: cover;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.card-pic-4 {
  width: 355px;
  height: 200px;
  border-radius: 5px;
  background-image: linear-gradient(0deg, rgba(36, 35, 35, 0.6), rgba(49, 49, 49, 0.36)), url(./assets/card-4.jpg);
  background-size: cover;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.card-pic-5 {
  width: 355px;
  height: 200px;
  border-radius: 5px;
  background-image: linear-gradient(0deg, rgba(36, 35, 35, 0.6), rgba(49, 49, 49, 0.36)), url(./assets/card-5.jpg);
  background-size: cover;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.card-pic-6 {
  width: 355px;
  height: 200px;
  border-radius: 5px;
  background-image: linear-gradient(0deg, rgba(36, 35, 35, 0.6), rgba(49, 49, 49, 0.36)), url(./assets/card-6.jpg);
  background-size: cover;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.card-pic-7 {
  width: 355px;
  height: 200px;
  border-radius: 5px;
  background-image: linear-gradient(0deg, rgba(36, 35, 35, 0.6), rgba(49, 49, 49, 0.36)), url(./assets/card-7.jpg);
  background-size: cover;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.card-pic-8 {
  width: 355px;
  height: 200px;
  border-radius: 5px;
  background-image: linear-gradient(0deg, rgba(36, 35, 35, 0.6), rgba(49, 49, 49, 0.36)), url(./assets/card-8.jpg);
  background-size: cover;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.item-1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}
.item-2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}
.item-3 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}
.item-4 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
}
.item-5 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}
.item-6 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}
.item-7 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}
.item-8 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
}
